# Qt Creator / QMake

*.pro.user
*.pro.user.*
*.qmake.stash
*.autosave
*.qmlproject.user

# CMake build artifacts

build/*
!build/.gitkeep

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.idx

# Ninja

.ninja
.ninja_log
.ninja_deps
.ninja/

# Build output
*.o
*.obj
*.so
*.dll
*.exe
*.a
*.lib

# Backup / temp / logs

*~
*.swp
*.bak
*.tmp
*.log

# IDE configs

.vscode/
*.code-workspace

.idea/
*.iml

# Qt Creator build directories (optional, if not in source)

Qt_6_9_0_for_iOS-Debug/
Qt_6_9_0_for_macOS-Debug/
