# Temporary files

data/user.json

# Logs

var/debug.log

# CMake build artifacts

!build/.gitkeep

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.idx

# Ninja

.ninja
.ninja_log
.ninja_deps
.ninja/

# Build output

build/bin
build/libzip
build/zlib
*.o
*.obj
*.so
*.dll
*.exe
*.a
*.lib

# Backup / temp / logs

*~
*.swp
*.bak
*.tmp
*.log

# IDE configs

.vscode/
*.code-workspace

.idea/
*.iml
